/* General */

* {
    box-sizing: border-box;
    color: #353535;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #3C6E71;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3C6E71;
    text-decoration: underline double #3C6E71 2px;
    margin: 0 16px;
}

/* Homepage */

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    border-width: 2px;
    border-color: #D9D9D9;
    padding: 0;
}

.recipe-item {
    display: inline-block;
    margin: 16px;
    padding-bottom: 8px;
    border: 2px solid #D9D9D9;
    border-radius: 5%;
    background-color: #D9D9D9;
    width: 250px;
    height: 300px;
}

.thumbnail {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 245px;
    border-bottom: 2px solid #D9D9D9;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.recipe-link {
    display: block;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 12px;
    width: 100%;
    height: 10%;
}

/* Recipe Pages */

.title-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #353535;
    display: flex;
    align-items: center;
    margin: 0 0 16px 0;
    padding: 12px;
}

.title-bar a {
    text-align: center;
    color: #3C6E71;
    margin-left: auto;
    padding: 0 16px;
}

.description, .ingredients, .steps {
    padding: 16px;
    text-align: justify;
}

.description {
    align-items: center;
    text-align: justify;
    gap: 16px;
}

.description img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 250px;
    border-radius: 5%;
    margin-left: auto;
    margin-top: 0;
}

.ingredients {
    background-color: #D9D9D9;
}

.ingredients ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 12px;
    list-style: none;
    margin: 0;
}

.ingredients li {
    width: 32%;
}

.steps ol {
    list-style: none;
    counter-reset: step-counter;
    padding-left: 22px;
}

.steps li {
    counter-increment: step-counter;
    display: flex;
    margin-bottom: 12px;
}

.steps li::before {
    content: counter(step-counter) ".";
    font-weight: bold;
    margin-right: 6px;
    width: 12px;
}

.enjoy {
    font-weight: bold;
}

input[type="checkbox"]{
    accent-color: #72cfd4;
    align-self: center;
    width: 10px;
    height: 10px;
    margin: 0 6px;
}

input[type="checkbox"]:checked ~ label {
    text-decoration: line-through;
}

