* {
    box-sizing: border-box;
    color: #353535;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #3C6E71;
}

h1 {
    text-decoration: underline double #353535 2px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    border-width: 2px;
    border-color: #D9D9D9;
    padding: 0;
}

.recipe-item {
    display: inline-block;
    margin: 16px;
    padding-bottom: 8px;
    border: 2px solid #D9D9D9;
    border-radius: 5%;
    background-color: #D9D9D9;
    width: 250px;
    height: 300px;
}

.thumbnail {
    width: 100%;
    height: 90%;
    object-fit: fill;
    border-bottom: 2px solid #D9D9D9;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.recipe-link {
    display: block;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 6px;
    width: 100%;
    height: 10%;
}